<ion-header>
  <ion-toolbar>
    <ion-title>
      Controller
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!--
    <ion-card class="welcome-card">
      <video width="100%" controls>
        <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
        <source src="https://www.w3schools.com/html/mov_bbb.ogg" type="video/ogg">
        Your browser does not support HTML5 video.
      </video>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>Controller</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p></p>
      </ion-card-content>
    </ion-card>
    -->

    <ng-container *ngIf="!req.socketConnected">
      <ion-button expand="block" (click)="connect()">  
        <ion-icon slot="start" name="power"></ion-icon>
        Connect
      </ion-button>
      <ion-card class="welcome-card">
        <ion-card-content>
          <p>Connect to the raspberry to use this app</p>
        </ion-card-content>
      </ion-card>
    </ng-container>

    <ion-button *ngIf="req.socketConnected" expand="block" color="danger" (click)="disconnect()">
      <ion-icon slot="start" name="power"></ion-icon>
      Disconnect
    </ion-button>

    <div id="zone_joystick" style="position:relative; height: 60%;"></div>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button size="large" expand="block" (click)="turn(180)">
            <ion-icon slot="start" name="refresh"></ion-icon>
            180°
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button size="large" expand="block"(click)="turn(360)">
            <ion-icon slot="start" name="walk"></ion-icon>
            360°
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>
