<ion-header>
  <ion-toolbar>
    <ion-title>
      Controller
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!--
    <ion-card class="welcome-card">
      <video width="100%" controls>
        <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
        <source src="https://www.w3schools.com/html/mov_bbb.ogg" type="video/ogg">
        Your browser does not support HTML5 video.
      </video>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>Controller</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p></p>
      </ion-card-content>
    </ion-card>
    -->

    <ion-button expand="block" (click)="connect()" *ngIf="!req.socketConnected">Connect</ion-button>
    <ion-button expand="block" color="danger" (click)="disconnect()" *ngIf="req.socketConnected">Disconnect</ion-button>

    <app-controller *ngIf="req.socketConnected"></app-controller>
</ion-content>
