<ion-header>
  <ion-toolbar>
    <ion-title>
      Controller
    </ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="!req.socketConnected" expand="block" color="primary" (click)="connect()">  
        <ion-icon slot="start" name="power"></ion-icon>
        Connect
      </ion-button>
      <ion-button *ngIf="req.socketConnected" expand="block" color="danger" (click)="disconnect()">
        <ion-icon slot="start" name="power"></ion-icon>
        Disconnect
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ng-container>
      <ion-card style="height:40%" class="welcome-card">
        <ng-container *ngIf="!showCamera">
          <ion-button (click)="setCamera()" style="height:100%;width:100%;">
            <ion-icon size="large" name="camera"></ion-icon>
          </ion-button>
        </ng-container>
        <ng-container style="height:100%;width:100%;">
        <!--  <ion-spinner style="position:absolute;top:50%;left:50%;transform: translate(-50%, -50%);">
          </ion-spinner>
        </ng-container>
        <ng-container *ngIf="showCamera && req.frame != ''">-->
          <ion-button (click)="setCamera()" color="dark" style="z-index:10;position:absolute;">
            <ion-icon size="large" name="close"></ion-icon>
          </ion-button>
          <ion-img src="http://192.168.1.6:4000/video_feed">
          </ion-img>
        </ng-container>
      </ion-card>
    </ng-container>


    <div id="zone_joystick" style="position:relative; height: 40%;"></div>

    <ion-grid>
      <ion-row *ngIf="showCamera">
        <ion-col>
          <ion-button *ngIf="!isRecording" size="large" expand="block" (click)="recordStart()">
            <ion-icon slot="start" name="radio-button-on"></ion-icon>
            Start Record
          </ion-button>
          <ion-button *ngIf="isRecording" size="large" color="danger" expand="block" (click)="recordStop()">
            <ion-icon slot="start" name="square"></ion-icon>
            Stop Record
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>
