<ion-header>
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Information</ion-card-subtitle>
      <ion-card-title>Information</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      This app is created to control a Raspberry Micro Car.<br>
      The Raspberry must:
      <ul>
        <li>Be powered on and activated</li>
        <li>Be connected to your same Wi-Fi</li>
      </ul>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Posted by Francesco Todino @ 2019-22-10T10:56</ion-card-subtitle>
      <ion-card-title>Big update</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Now you can even see recorded video in my new section! Enjoy :)
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Posted by Francesco Todino @ 2019-06-08T13:58</ion-card-subtitle>
      <ion-card-title>News</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Welcome to my App, I'm the developer!
    </ion-card-content>
  </ion-card>

</ion-content>
